<% provide(:title, 'Edit Incident') %>
<h1 align="center">Dashboard</h1>
<div class="col-lg-2"></div>
<div id="incident-edit" class="col-lg-8">
  <%= render partial: 'incidents/edit_incident_form' %>
</div>
<div class="col-lg-2"></div>