<h1>Have you subscribed to <%= APP_CONFIG['name'] %>'s notifications?</h1>

<p>This is just a quick check to make sure that you want to subscribe to our notifications. If you do, click on the button below.</p>

<%= link_to @activation_url do %><button class="btn btn-primary btn-success">Subscribe me</button><% end %>

<p class="text-muted">Can't click? Go to the following URL - <%= @activation_url %></p>

<p class="thanks">Thanks, <br />
  <%= APP_CONFIG['name'] %> Team.
</p>