<footer>
  <% unless request.fullpath == '/history' %>
      <%= link_to '< View previous incidents', history_path %>
  <% end %>
  <div id="poweredby">Proudly powered by <a href="https://github.com/ur0/statusify">Statusify.</a></div>
</footer>

<% cache_if(!user_signed_in?, "#{cache_key_for_index}-status_dot-#{Incident.where(active: true).count}") do %>
    <%= render partial: 'shared/status_dot' %>
<% end %>