<div class="status_page">

  <% if active_incidents.blank? %>
    <div class="alert alert-success" id="status-summary">All systems up!</div>
  <% else %>
    <div class="alert alert-danger" id="status-summary">Some systems down!</div>
  <% end %>

  <h2 align="center">Past Incidents</h2>
  <div id="recent-incidents">
    <% @incidents.all.each do |i| %>
        <%= i.name %> <br />
     <% end %>
  </div>
</div>
