/* These are the base styles, common across all themes. */
body { padding-top: 70px;  }

#navigation-1 {
  background-color: #FAFAFA;
}

#header-status {
  font-weight: bold;
}

#status-summary {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 50%;
  margin-top: 10px;
}

.up {
  color: #50DE53;
}

.down {
  color: #B00100;
}

footer {
  clear: both;
  overflow: auto;
  margin: 0px auto;
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.25) !important;
}

#poweredby {
  float: right;
}

.alert-notice {
 @extend .alert-warning !optional;
}

.private-status {
  float: right;
}