/* Add all global styles here. */

#header-status {
  font-weight: bold;
}

#status-summary {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 50%;
  margin-top: 10px;
}

.up {
  color: #50DE53;
}

.down {
  color: #B00100;
}

#navigation-1 {
  margin-top: 1rem;
  background-color: #2c3e50;
  a {
    color: #FFF;
  }
}



body {
  background-color: #2c3e50;
  color: #FFFFFF;
}

/* Placeholder shades */
::-webkit-input-placeholder {
  color: #000;
}

:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

/* Nav */

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: #FFF;
  color: #2c3e50 !important;
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: #DADADA;
  border-color: #F9F9F9;
  .icon-bar {
    background-color: #2c3e50 !important;
  }
}

.navbar-toggle {
  border-color: #F9F9F9 !important;
  .icon-bar {
    background-color: #FFF !important;
  }
}

.alert-notice {
  background-color: #F2DEDE;
  border-color: #d9eba1;
  color: #a96302;
}
