// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.incident-description > b:nth-child(1) {
  font-size: 1.75rem;
  margin-right: 1rem;
}

.incident-name {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.25rem;
  color: #E74C3C;
}

.incident-updated-at {
  font-size: 1.25rem;
  font-weight: lighter;
}

.incident-date {
  border: 6px;
  border-radius: 6px;
}

.inner-date {
  margin-left: 1.0rem;
}

.current_incidents {
  margin-bottom: 5rem;
  float: top;
}

.event-hr {
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  float: bottom;
}

.incident-group-date {
  font-size: 3rem;
  font-weight: 500;
  padding: 0.75rem;
  margin-bottom: 1rem !important;
}

.hr-top {
  width: 75%;
  margin-bottom: 0.75rem !important;
  text-align: center;
  border-color: rgba(3, 0, 15, 0.82);
}

.nothing {
  text-align: center;
  font-size: 1.75rem !important;
}