// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header-status {
  font-weight: bold;
}

#status-summary {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 50%;
  margin-top: 10px;
}

.up {
  color: #50DE53;
}

.down {
  color: #B00100;
}

.incident-date {
  background-color: #EEEEEE;
  border: 2px;
  border-radius: 6px;
}

#navigation-1 {
  margin-top: 1rem;
  background-color: #2c3e50;
  a {
    color: #FFF;
  }
}