<nav id="pull-left" class="navbar navbar-static-top">
  <div class="navbar-brand">
  <% if @active_incidents.blank? %>
      <div class="up" id="header-status"><p>Statusify</p></div>
  <% else %>
      <div class="down" id="header-status"><p>Statusify</p></div>
  <% end %>
  </div>
</nav>