<nav id="pull-left" class="navbar navbar-static-top">
  <div class="navbar-brand">
  <% if active_incidents.blank? %>
      <div id="header-status"><%= APP_CONFIG['name'] %> <span class="up">Status</span></div>
  <% else %>
      <div id="header-status"><%= APP_CONFIG['name'] %> <span class="down">Status</span></div>
  <% end %>
  </div>
</nav>